<app-page-layout class='w-full'>
    <ng-container title>
        Roles
    </ng-container>
    <ng-container btn>
        <button mat-flat-button color="primary" class='transform hover:scale-105' (click)="openRolDialog()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2">Nuevo rol</span>
        </button>
    </ng-container>
    <ng-container main>
        <app-dinamic-table [columns]="tableColumns" [data]="roleList()?.items" [totalData]="roleList()?.totalCount"
            (actionReturn)="actionTable($event)" (paginatorData)="pagesAction($event)"></app-dinamic-table>
    </ng-container>
</app-page-layout>