<app-dialog-layout [data]="data">
    <ng-container closeBtn>
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button mat-icon-button [matDialogClose]="undefined">
                <mat-icon class="text-secondary" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </ng-container>

    <ng-container main>

        <div class='flex flex-col'>
            <div class="flex relative w-15 md:w-30 h-20 m-auto items-center justify-center">
                <picture>
                    @if(data.item.image !== '' && !isMobile()){
                    <source type='image/png' [srcset]="image_path + data.item.image" class="object-cover ">
                    } @else if(data.item.image !== '' && isMobile()){
                    <source type='image/png' [srcset]="image_path + data.item.image" class="object-cover ">
                    }
                    @else if(!isMobile()){
                    <source type='image/webp' [attr.srcset]="'images/no-image.png'" media="(min-width: 960px)">

                    } @else {
                    <source type='image/webp' [attr.srcset]="'images/no-image.png'" media="(max-width: 959px)">
                    }

                    <img class="object-contain max-h-50 " [ngSrc]="'images/no-image.png'" alt="Product Image" fill
                        priority sizes="100vw">
                </picture>

            </div>
            <div class="my-3 gap-2 w-full flex flex-col items-center ">
                <h1 class='sm:text-xl text-center text-lg font-semibold'>Selecciona una opción y agrega al carrito</h1>
                <div class='flex'>
                    @for(option of data.item.options; track option){
                    <div *ngIf="option.status === itemStatus.Available " [class.border-primary]="isSelected(option)"
                        (click)="selectOption(option)"
                        class="flex flex-col my-1 mx-2 rounded-full border-2 bg-gray-400 px-3 py-0.5 text-sm font-normal text-gray-500 text-center cursor-pointer transition transform hover:scale-105">
                        <span class='text-sm text-white font-semibold'>{{option.name}}</span>
                        <span class='text-sm text-white font-medium'>{{option.price| currency:'Q. ' }} </span>
                    </div>

                    }

                </div>

                <button mat-fab extended class="transform transition hover:scale-105 h-auto bg-slate-600 w-auto"
                    [disabled]="!selectedOption()" (click)="addToCart()">
                    <div class="flex sm:flex-row flex-col sm:gap-1 items-center">
                        <mat-icon class="sm:icon-size-4 icon-size-3.5"
                            svgIcon="mat_outline:add_shopping_cart"></mat-icon>
                        <span class="text-sm font-normal">Agregar a carrito</span>
                    </div>
                </button>

            </div>
        </div>

    </ng-container>
    <ng-container btn>
        <!-- Cancel -->
        <button class='hover:scale-105' mat-stroked-button [matDialogClose]="undefined">
            Cerrar
        </button>

        <!-- Confirm -->
        <!-- <button class='hover:scale-105' mat-flat-button color="primary" (click)="executeFormValue()">
            {{data.actions.confirm.label}}
        </button> -->
    </ng-container>
</app-dialog-layout>