<app-dialog-layout [data]="data">
    <ng-container closeBtn>
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button mat-icon-button [matDialogClose]="undefined">
                <mat-icon class="text-secondary" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
    </ng-container>

    <ng-container main>

        <img class="object-contain m-auto" [src]="images_path" alt="Advertisement Image" fill priority sizes="100vw">


    </ng-container>
    <ng-container btn>
        <!-- Cancel -->
        <button class='hover:scale-105' mat-stroked-button [matDialogClose]="undefined">
            Ir al catálogo
        </button>

    </ng-container>
</app-dialog-layout>