.mat-mdc-table .mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
    background: #fafafa !important;
}

.mat-sort-header-arrow{
    color: #F6BF41 !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}
// .mat-mdc-header-row{
//     height: auto !important;
// }

