.fuse-confirmation-dialog-panel {
    @screen sm {
        @apply w-128;
    }

    @media screen and (max-width: 599px) {
        width: 95%;
    }

    .mat-mdc-dialog-container {
        @media screen and (max-width: 599px) {
            height: 100dvh !important;
        }
        .mat-mdc-dialog-surface {
            padding: 0 !important;
        }
    }
}
